:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: #b45cf6;
  --oui-color-primary-light: 213 190 244;
  --oui-color-primary-darken: 161 48 245;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 189 107 237;
  --oui-color-link-light: 217 152 250;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: #28a744;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 36 32 47;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 81 72 107;
  --oui-color-base-3: 68 61 69;
  --oui-color-base-4: 57 52 74;
  --oui-color-base-5: 51 46 66;
  --oui-color-base-6: 43 38 56;
  --oui-color-base-7: 36 32 47;
  --oui-color-base-8: 29 26 38;
  --oui-color-base-9: 8 3 31;
  --oui-color-base-10: 3 1 13;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 40 0 97;
  --oui-gradient-primary-end: 189 107 237;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 161 48 245;
  --oui-gradient-brand-end: 161 48 245;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl:  12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

.wallet-adapter-modal-middle-button {
  background-color: #512da8;
}

.menu-item.active,.nav-item.active,[role=tab][aria-selected=true] {
  color: var(--oui-color-primary)!important;
  border-bottom: 3px solid var(--oui-color-primary)!important;
  box-shadow: 0 2px 4px rgba(220,53,69,.2)!important;
}

.menu-item:not(.active), .nav-item:not(.active), [role=tab]:not([aria-selected=true]) {
  position: relative !important;
  transition: all .2s ease-out !important;
}

.hover\:oui-text-base-contrast-54:hover {
  color: rgb(var(--oui-color-base-foreground) / .54);
}

.menu-item:not(.active):after, .nav-item:not(.active):after, [role=tab]:not([aria-selected=true]):after {
  content: "" !important; 
  position: absolute !important; 
  width: 0 !important; 
  height: 3px !important; 
  bottom: -2px !important; 
  left: 0 !important; 
  background-color: var(--oui-color-success) !important; 
  transition: width .2s ease-out !important; 
  box-shadow: 0 1px 3px rgba(40, 167, 69, .4) !important;
}

.hover\:oui-bg-primary-darken\/80:hover {
  background-image: linear-gradient(var(--oui-gradient-brand-angle, 17.44deg), #b45cf6 var(--oui-gradient-brand-stop-start, 0), #b45cf6 var(--oui-gradient-brand-stop-end, 100%)) !important;
}

.oui-w-\[69px\]{
  display:none;
}

.content {
	width: clamp(150px, 39vw, 600px);
	position: relative;
}

.content h2 {
	color: #fff;
	font-size: clamp(2em, 8vw, 8em);;
	position: absolute;
	transform: translate(0%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #8338ec;
}

.content h2:nth-child(2) {
	color: #c19bf5;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

/* {
  --oui-color-primary: 86 82 233;
  --oui-color-primary-darken: 67 76 209;
  --oui-color-base-4: 67 62 134;
  --oui-color-base-5: 51 46 126;
  --oui-color-base-6: 43 38 116;
  --oui-color-base-7: 36 32 107;
  --oui-color-base-8: 29 46 88;
  --oui-color-base-9: 34 32 90;
  --oui-color-base-10: 14 13 48;
  --oui-gradient-brand-start: 24 53 153;
  --oui-gradient-brand-end: 33 35 195;
  .oui-text-[rgba(0,0,0,0.88)] {color: rgba(255, 255, 255, 0.88);}
} */